@font-face {
  font-family: "Canaro-Light";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Canaro-Light-Regular.eot");
  src: url("fonts/Canaro-Light-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Canaro-Light-Regular.woff") format("woff"),
    url("fonts/Canaro-Light-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Canaro-Light";
  font-weight: normal;
  font-style: italic;
  src: url("fonts/Canaro-Light-Italic.eot");
  src: url("fonts/Canaro-Light-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Canaro-Light-Italic.woff") format("woff"),
    url("fonts/Canaro-Light-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Gafata";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Gafata-Regular_Std.otf") format("opentype");
}

/* Border Box Model */
*, *::after, *::before {
  box-sizing: border-box;
}


body {
  font-family: "Canaro-Light", sans-serif;
  padding: 2rem;
}

p {
  font-size: 0.9em;
}

a:link, a:visited, a:active {
  color: #000000;
}

a:hover, a:focus {
  color: #E32805;
}

.top {
  width: 100%;
  height: 1em;
  background-color: #800000;
}

h1.title {
  font-family: "Gafata", serif;
  color: #800000;
  font-size: 4rem;
}

h1 {
  font-family: "Gafata", serif;
  color: #800000;
  font-size: 4rem;
}

h2 {
  font-size: 1.75em;
}

h4 {
  margin-bottom: 0.25em;
}

nav {
  /*margin-bottom: 1em;*/
  width: 100%;
}

nav a {
  font-size: 0.8em;
  text-decoration: none;
  margin: 0;
  padding: 1em;
}

nav a:first-of-type {
  margin-left: 0;
}

nav a:link, nav a:visited, nav a:active {
  color: #999999;
}

nav a:focus, nav a:hover {
  background-color: #666;
  color: white;
}

nav a.active {
  color: white;
}

.main-nav{
  margin: 1em 0;
  display: inline-block;
}



section {
  margin: 3em 0;
  padding: 0.5em 0;
  border-top: 2px solid #822300;
}

section .wrapper {
  display: inline-block;
  vertical-align: text-top;
  margin: 1em 2em 2em 0;
}


section .box {
  padding: 1em;
  border: 1px solid #999999;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

.color-box {
  display: inline-block;
  padding: 0.5em;
  width: 10em;
  text-align: center;
  color: white;
}

.red {
  background-color: #800000;
}

.dark-red{
  background-color: #490003;
}

.brick{
  background-color: #E32805;
}

.beige{
  background-color: #CEB797;
}

.black {
  background-color: black;
}

.dark-grey {
  background-color: #333333;
}

.middle-grey {
  background-color: #999999;
}

#forms .code-line {
  display: block;
  margin: 0;
}

label {

}

input {
  display: block;
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid #999999;

  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  
}

#dropdown-h4 {
  margin-top: 0;
}

select {
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid #999999;

  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}

option {
  font-family: "Canaro-Light", sans-serif;
}

#search-bar {
  display: inline-block;
}

a.button {
  font-size: 1.5rem;
  display: inline-block;
  padding: 0.80em 1em 0.65em 1em;
  color: #333333;
  background-color: white;
  border: 1px solid #DDDDDD;  
  text-decoration: none;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;

  -moz-border-radius: 2em; 
  -webkit-border-radius: 2em; 
  border-radius: 2em;  
}
a.button:hover, a.button:focus {
  background-color: #DDDDDD;
}

a.cta {
  color: white;
  background-color: #800000;
  border: none;

  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}

a.cta:hover, a.cta:focus {
  background-color: rgba(128, 0, 0, 0.8);
  color: white;
}

a.round {
  border: 1px solid #EEEEEE;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  border-radius: 10rem;

  -webkit-transition: border 0.1s ease-out;
  transition: border 0.1s ease-out;

}

a.round:hover, a.round:focus {
  /*border: 1px solid #9D6606;*/
  border: 1px solid #333333;
  background-color: white;
  color: black;
}

a.img-link:hover, a.img-link:focus {
  opacity: 0.8;
}

a.bread-crumbs{
  font-size: 0.7rem;
  text-decoration: none;
}

a.bread-crumbs:hover, a.bread-crumbs:focus {
  color: #E32805;
}

#groupings .box {
  width: 100%;
}

.impresso-header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1em;
  margin:0;
}

#groupings nav {
  position: relative;
  width: 50%;
  display: inline-block;
}



.search-bar {
  position: absolute;
  right: 1em;
  bottom: 1.5em;
}

.search-bar input {
  width: 19em;
  height: 2em;
}

.search-bar .button {
  font-size: 0.64em;
}



