@font-face {
  font-family: "Canaro-Light";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Canaro-Light-Regular.eot");
  src: url("fonts/Canaro-Light-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Canaro-Light-Regular.woff") format("woff"),
    url("fonts/Canaro-Light-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Canaro-Light";
  font-weight: normal;
  font-style: italic;
  src: url("fonts/Canaro-Light-Italic.eot");
  src: url("fonts/Canaro-Light-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Canaro-Light-Italic.woff") format("woff"),
    url("fonts/Canaro-Light-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Gafata";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Gafata-Regular_Std.otf") format("opentype");
}

/* Border Box Model */
*, *::after, *::before {
  box-sizing: border-box;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-float {
  clear: both;
}

body, input, textarea {
  font-family: "Canaro-Light", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

p, li {
  font-size: 0.9em;
}

a:link, a:visited, a:active {
  color: #000000;
}

a:hover, a:focus {
  color: #E32805;
}

.top {
  width: 100%;
  height: 1em;
  background-color: #800000;
}

h1.title {
  font-family: "Gafata", serif;
  color: #800000;
  font-size: 4rem;
}

h1 {
  font-family: "Gafata", serif;
  color: #800000;
  font-size: 4rem;
}

h2 {
  font-size: 1.75em;
}

h4 {
  margin-bottom: 0.25em;
}

/* HEADER */

.impresso-header {
  position: absolute;
  background-color: rgba(51, 51, 51, 0.5);
  padding: 0;
  margin:0;
  min-height: 3.5rem;
  width: 100%;
}

.left-header {
  float: left;
}

.right-header {
  float: right;
}

#clear-header {
  padding: 0;
  height: 5em;
}

nav {
  /*margin-bottom: 1em;*/
  /*width: 100%;*/
  text-align: left;
}

nav a {
  font-size: 0.8em;
  text-decoration: none;
  margin: 0;
  padding: 1em;
}

nav a:first-of-type {
  margin-left: 0;
}

nav a:link, nav a:visited, nav a:active {
  color: rgba(255, 255, 255, 0.5);
}

nav a:focus, nav a:hover {
  color: rgba(255, 255, 255, 1.0);
}

nav a.active {
  color: white;
}

.main-nav{
  margin: 1em 0;
  display: inline-block;
}

.sub-nav {
  margin: 1em 1em 1em 0;
  display: inline-block;
  color: white;
  font-size: 1.5em;
}

#hamburger-menu {
  display: none;
  color: white;
  font-size: 1.5em;
}

.search-bar input {
  display: inline-block;
  width: 19em;
  height: 2em;
}

.search-bar .button {
  font-size: 0.64em;
}


section {
  /*margin: 3em 0;
  padding: 0.5em 0;
  border-top: 2px solid #822300;
  */
}

section .wrapper {
  display: inline-block;
  vertical-align: text-top;
  margin: -1.5em 0.5em 1em 0.5em;
  padding: 0.5em;
}


section .box {
  padding: 2em;
  border-left: 1px solid #999999;
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;

}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

.color-box {
  display: inline-block;
  padding: 0.5em;
  width: 10em;
  text-align: center;
  color: white;
}

.red {
  background-color: #800000;
}

.dark-red{
  background-color: #490003;
}

.brick{
  background-color: #E32805;
}

.beige{
  background-color: #CEB797;
}

.black {
  background-color: black;
}

.dark-grey {
  background-color: #333333;
}

.middle-grey {
  background-color: #999999;
}

#forms .code-line {
  display: block;
  margin: 0;
}

label {
  font-size: 0.75em;
  color: #CCCCCC;
}

input, textarea, select{

  display: block;
  font-size: 0.75em;
  padding: 0.4em;
  margin: 0.2em 0.2em 0.7em 0.2em;
  border: 1px solid #999999;

  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  
}

#dropdown-h4 {
  margin-top: 0;
}

/*select {
  display: block;
  font-size: 1em;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #999999;

  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}*/

option {
  font-family: "Canaro-Light", sans-serif;
}

#search-bar {
  display: inline-block;
}

a.button {
  font-size: 0.8rem;
  display: inline-block;
  padding: 0.85em 1.1em 0.65em 1.1em;
  /*color: #333333;*/
  color: #fff;
  /*background-color: rgba(128, 0, 0, 0.7);*/
  border: 2px solid #fff;  
  text-decoration: none;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;

  -webkit-transition: border-color 0.1s ease-out;
  transition: border-color 0.1s ease-out;

  -moz-border-radius: 0.5em; 
  -webkit-border-radius: 0.5em; 
  border-radius: 0.5em;  
}
a.button:hover, a.button:focus {
  /*background-color: #DDDDDD;*/;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #FFF;
}

a.neg {
  color: #800000;
  border: 2px solid #800000;
}

a.cta {
  color: white;
  background-color: #800000;
  /*border: none;*/

/*  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;*/
}

a.cta:hover, a.cta:focus {
  background-color: rgba(128, 0, 0, 0.8);
  border-color: rgba(128, 0, 0, 0.2);
  color: white;
}

a.round {
  background-color: white;

  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  border-radius: 10rem;

  -webkit-transition: border 0.1s ease-out;
  transition: border 0.1s ease-out;

}

a.round:hover, a.round:focus {
  /*border: 1px solid #9D6606;*/
  /*border: 1px solid #333333;*/
  background-color: white;
  color: #222222;
}

a.img-link:hover, a.img-link:focus {
  opacity: 0.8;
}

a.bread-crumbs{
  font-size: 0.7rem;
  text-decoration: none;
}

a.bread-crumbs:hover, a.bread-crumbs:focus {
  color: #E32805;
}

#groupings .box {
  width: 100%;
}

nav .in-header {
  position: relative;
  width: 50%;
  display: inline-block;
}

.product-list-item{
  display: inline-block;
  text-align: center;
}


.product-categories {
  height: auto; 
  width: auto;
  text-align: center;
  max-width: 100%;
  padding: 0.5em ;
}

#product-categories>h2 {
  text-align: center;
}

#product-categories p {
  text-align: center;
}


.product-img {
  height: auto; 
  width: auto;
  max-width: 100%;
}

.item-details{
  padding: 6em 2em;
  max-width: 33em;
  text-align: left;
  margin: 0 auto;
}

.item-price {
  font-size: 1.9em;
  padding-right: 6em;
  display: inline;
  vertical-align: -0.1em;
}

#item-detail-cart {
  position: absolute;
  width: 20em;
  top: 5.1em;
  right: 0;
  padding: 1em;
  background-color: white;
  border: 1px solid #CCCCCC;
}

.item-ratings {

}

.subtotal {
  padding: 1em;
  text-align: right;
}

.checkout-background {
  /*background: url("../img/foto_originale_3426.jpg") no-repeat right center fixed;*/
  background: url("../img/Light-Wood-Background.jpg");
  /*background: url("../img/coffeelove.jpg") no-repeat center center fixed;*/
  background-size: cover;
}

.checkout-wrapper {
  position: relative;
  background-color: white;
  max-width: 45em;
  margin: 0 auto;
  border: 1px solid #CCCCCC;
  padding: 1em;

  border-radius: 0em;
}

#checkout-sign-in, #checkout-skip-sign-in, 
#checkout-billing-info, #checkout-shipping-info,
#checkout-payment, #checkout-confirmation-cart,
#checkout-confirmation-shipping {
  text-align: left;
  padding: 1em;
  max-width: 25em;
  margin: 0 auto;
}

form>#name, form>#billing-address {
  width: 22em;
}

form>#email {
  width: 12em;
  display: inline;
}

form>#phone {
  width: 9em;
  display: inline;
}

form>label {
  display: block;
}

#label-name, #label-billing-address,
#label-cc-info, #label-cc-number {
  margin-top: 3em;
}

form>#city {
  width: 16em;
  display: inline;
}

form>#province {
  width: 5em;
  display: inline;
  height: 2.4em;
}

form>#country {
  display: inline;
  width: 14em;
}

form>#postal-code {
  display: inline;
  width: 7em;
}

#label-shipping-address {
  display: inline;
  font-size: 0.8em;
  color: #000000;
}

form #same-shipping-check-box {
  width: 1.7em;
  height: 1.7em;
  display: inline;
  margin: 3em 0;
}

form #cc-number {
  display: inline;
}

label #ccv-label {
  display: inline;
}

form #ccv {
  display: inline;
  width: 5em;
}

.checkout-next, .checkout-back {
  position: relative;
}

.checkout-back>a {
  position: absolute;
  top: 1.3em;
  left: -2em;
  text-decoration: none;
}

.checkout-next>a.cta {
  position: absolute;
  right: 0;
  bottom: 0em;
}

.item-detail-cart-item {
  border-bottom: 1px solid #CCCCCC;
  padding: 1em;
}

.separator {
  border-right: 1px solid #CCCCCC;
}

h3.cart-total {
  text-align: center;
}

section.cart-summary {
  background-color: #EEEEEE;
}

.checkout-confirmation-cart-item {
  margin: 2em auto;
  padding: 0.5em;
  border: 1px solid #CCCCCC;
  width: 70%;
}

.checkout-confirmation-cart-item img {
  width: 100%;
  height: auto;
}

.cart-price {
  top: 1em;
  right: 1em;
}

.checkout-confirmation-cart-item p {
  font-size: 0.6em;
  margin: 0;
}

.item-detail-cart-item img,
.item-detail-cart-item div,
  display: inline-block;
}

.cart-item {
  margin-left: 1em;
}

.cart-detail {
  display: inline-block;
}

.cart-item input {
  width: 3em;
  text-align: center;
}

.cart-item h4 {
  display: inline;
}

.cart-item .remove {
  font-size: 0.8em;
}

/*Begin home.html's css*/

.about-image{  
  background: url("../img/Impresso.jpg") no-repeat;
  background-size:cover;
  margin: 0;
  max-width: 100%;
  height: 50em;
  }


#about-impresso{
  position: absolute;
  top: 30%;
  color: #fff;
}


#about-impresso p{
  text-align: left;
}

.events{
  background-color: #CCC;
  padding-bottom: 1em;
}


#events h2 {
  text-align: center;
}

#events p {
  text-align: center;
}


.event-espresso{
  background: url("../img/mokapot-feature.jpg");
  background-position: 80% 10%;
  padding: 2.3em;
  color: #000;
  height: 20em;
}

.event-howtobrew{
  background: url("../img/Chalkboard.jpg");
  padding: 2em;
  color: white;
  height: 20em;
}


.event-tasting{
  background: url("../img/Tasting.jpg");
  background-size: cover;
  padding: 10em;
  max-width: 100%;
  color: white;
}

#contact-us{
  text-align: left;
  }

#contact-us .button {
  font-size: 0.75em;
}

#site-map {
  text-align: left;
}

#social-media{

  text-align: left;
}

#social-media h3{
  text-align: left;
}

#social-media a {
  text-decoration: none;
  margin: 0 0.2em;
  font-size: 2em;
  color: #AAAAAA;
}

#social-media a:hover {
  color: #FFF;
}


.impresso-footer{
  vertical-align: bottom;
  position: relative;
  background-color: rgba(51, 51, 51, 1);
  padding: 2em;
  margin:0;
  display: block;
  clear: both;
}


.bg-img{
  background-image: url("img/sample.png");
  background-repeat: repeat;

}


.impresso-footer h3{
  color: #CCC;
}

.impresso-footer a{
  color: #FFF;
}


.impresso-footer a:hover{
  color: #E32805;
}


/*Product Listing pages*/

.feature-product-category{
  background-color: #800000;
  color: white;
}

.feature-content{
  padding: 3em;
  text-align: left;
}

.espresso-feature-bg{
  background: url("../img/espresso-shot.jpeg") no-repeat;
  background-size:cover;
  margin: 0;
  padding: 6em 5em 5em 10em;
  max-width: 100%;
  height: 37em;
}


#about-espresso{
    position: absolute;
    top: 30%;
    color: #fff;
}


#about-espresso p{
  text-align: left;
}


.mokapot-feature-bg{
  background: url("../img/mokapot-feature.jpg");
  margin: 0;
  padding: 10em;
  max-width: 100%;
  color: black;
  background-position: 0% 60%;
}

.pod-feature-bg{
  background: url("../img/coffee-capsule.jpg");
  margin: 0;
  padding: 10em;
  max-width: 100%;
  color: white;
  background-position: 80% 40%;
}

.frenchpress-feature-bg{
  background: url("../img/frenchpress-feature.jpg");
  margin: 0;
  padding: 10em;
  max-width: 100%;
  color: #333;
  background-position: 20% 60%;
}


.aeropress-feature-bg{
  background: url("../img/aeropress.png");
  margin: 0;
  padding: 10em;
  max-width: 100%;
  color: #EEE;
  background-position: 65% 80%;
}


.saeco-minuto-feature{
  background: url("../img/saecofeat.jpg");
  margin: 0;
  padding: 10em;
  max-width: 100%;
  color: #FFF;
  background-position: 95% 0%;

}

.thankyou-bg{
  background: url("../img/Light-Wood-Background.jpg");
  margin: 0;
  padding: 10em;
  max-width: 100%;
  color: white;
  background-position: 20% 60%;
}



